In [1]:
import pymongo

client=pymongo.MongoClient('mongodb://127.0.0.1:27017/')

mydb=client['Employee']
empinfo=mydb.employeeinformation

In [2]:
record={
        'firstname':'Dwijendra',
        'lastname':'Sahoo',
        'department':'Analytics',
        'qualification':'BE',
        'age':26
        }

In [3]:
empinfo.insert_one(record)

In [4]:
records=[{
        'firstname':'John',
        'lastname':'Doe',
        'department':'Analytics',
        'qualification':'statistics',
        'age':35
        
        },
         {
        'firstname':'John ',
        'lastname':'Smith',
        'department':'Analytics',
        'qualification':'masters',
        'age':30
        
        },
        {
        'firstname':'Manish',
        'lastname':'Sen',
        'department':'Analytics',
        'qualification':'phd',
        'age':34
        
        },
        {
        'firstname':'Ram',
        'lastname':'Singh',
        'department':'Analytics',
        'qualification':'master',
        'age':32
        
        }]

In [5]:
empinfo.insert_many(records)

In [6]:
#find one record
empinfo.find_one()

{'_id': ObjectId('5fd4697ee168427e53c3e976'),
 'firstname': 'Dwijendra',
 'lastname': 'Sahoo',
 'Department': 'Analytics'}

In [7]:
# find all records
for record in empinfo.find():
    print(record)

{'_id': ObjectId('5fd4697ee168427e53c3e976'), 'firstname': 'Dwijendra', 'lastname': 'Sahoo', 'Department': 'Analytics'}
{'_id': ObjectId('5fd46a6fe168427e53c3e977'), 'firstname': 'Dwijendra1', 'lastname': 'Sahoo1', 'Department': 'Analytics1'}
{'_id': ObjectId('5fd46a6fe168427e53c3e978'), 'firstname': 'Dwijendra2', 'lastname': 'Sahoo2', 'Department': 'Analytics2'}
{'_id': ObjectId('5fd46b16406b1674422e27e2'), 'firstname': 'Dwijendra', 'lastname': 'Sahoo', 'Department': 'Analytics'}
{'_id': ObjectId('5fd46b16406b1674422e27e3'), 'firstname': 'Dwijendra1', 'lastname': 'Sahoo1', 'Department': 'Analytics1'}
{'_id': ObjectId('5fd46b16406b1674422e27e4'), 'firstname': 'Dwijendra2', 'lastname': 'Sahoo2', 'Department': 'Analytics2'}
{'_id': ObjectId('5fd46f5ae91060e1745a268c'), 'firstname': 'Krish', 'lastname': 'Naik', 'department': 'Analytics', 'qualification': 'BE', 'age': 29}
{'_id': ObjectId('5fd46f80e91060e1745a268d'), 'firstname': 'Krish', 'lastname': 'Naik', 'department': 'Analytics', 'qualification': 'BE', 'age': 29}
{'_id': ObjectId('5fd46f8ae91060e1745a268e'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('5fd46f8ae91060e1745a268f'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('5fd46f8ae91060e1745a2690'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('5fd46f8ae91060e1745a2691'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}
{'_id': ObjectId('5fd470e3e91060e1745a2692'), 'firstname': 'Dwijendra', 'lastname': 'Sahoo', 'department': 'Analytics', 'qualification': 'BE', 'age': 26}
{'_id': ObjectId('5fd4d004712e2d3a9ebd3997'), 'firstname': 'Dwijendra', 'lastname': 'Sahoo', 'department': 'Analytics', 'qualification': 'BE', 'age': 26}
{'_id': ObjectId('5fd4d004712e2d3a9ebd3998'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('5fd4d004712e2d3a9ebd3999'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('5fd4d004712e2d3a9ebd399a'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('5fd4d004712e2d3a9ebd399b'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}
{'_id': ObjectId('5fd4d00cbbb7d8493d66cd5d'), 'firstname': 'Dwijendra', 'lastname': 'Sahoo', 'department': 'Analytics', 'qualification': 'BE', 'age': 26}
{'_id': ObjectId('5fd4d00cbbb7d8493d66cd5e'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('5fd4d00cbbb7d8493d66cd5f'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('5fd4d00cbbb7d8493d66cd60'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('5fd4d00cbbb7d8493d66cd61'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [8]:
# Query the json documnents

for record in empinfo.find({'firstname':'Dwijendra'}):
    print(record)

{'_id': ObjectId('5fd4697ee168427e53c3e976'), 'firstname': 'Dwijendra', 'lastname': 'Sahoo', 'Department': 'Analytics'}
{'_id': ObjectId('5fd46b16406b1674422e27e2'), 'firstname': 'Dwijendra', 'lastname': 'Sahoo', 'Department': 'Analytics'}
{'_id': ObjectId('5fd470e3e91060e1745a2692'), 'firstname': 'Dwijendra', 'lastname': 'Sahoo', 'department': 'Analytics', 'qualification': 'BE', 'age': 26}
{'_id': ObjectId('5fd4d004712e2d3a9ebd3997'), 'firstname': 'Dwijendra', 'lastname': 'Sahoo', 'department': 'Analytics', 'qualification': 'BE', 'age': 26}
{'_id': ObjectId('5fd4d00cbbb7d8493d66cd5d'), 'firstname': 'Dwijendra', 'lastname': 'Sahoo', 'department': 'Analytics', 'qualification': 'BE', 'age': 26}

#### Query documents using conditional and logical operators

In [9]:
# $in 
for record in empinfo.find({'qualification':{'$in':['phd','master']}}):
    print(record)

{'_id': ObjectId('5fd46f8ae91060e1745a2690'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('5fd46f8ae91060e1745a2691'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}
{'_id': ObjectId('5fd4d004712e2d3a9ebd399a'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('5fd4d004712e2d3a9ebd399b'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}
{'_id': ObjectId('5fd4d00cbbb7d8493d66cd60'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('5fd4d00cbbb7d8493d66cd61'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [10]:
# $lt and $and
for record in empinfo.find({'qualification':'master','age':{'$lt':35}}):
    print(record)

{'_id': ObjectId('5fd46f8ae91060e1745a2691'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}
{'_id': ObjectId('5fd4d004712e2d3a9ebd399b'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}
{'_id': ObjectId('5fd4d00cbbb7d8493d66cd61'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [11]:
# $or 
for record in empinfo.find({'$or':[{'firstname':'John'},{'qualification':'master'}]}):
    print(record)

{'_id': ObjectId('5fd46f8ae91060e1745a268e'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('5fd46f8ae91060e1745a2691'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}
{'_id': ObjectId('5fd4d004712e2d3a9ebd3998'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('5fd4d004712e2d3a9ebd399b'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}
{'_id': ObjectId('5fd4d00cbbb7d8493d66cd5e'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('5fd4d00cbbb7d8493d66cd61'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [12]:
inventory=mydb.inventory

In [13]:
inventory.insert_many( [
   { 'item': "journal", 'qty': 25, 'size': { 'h': 14, 'w': 21,'uom': "cm" }, 'status': "A" },
   { 'item': "notebook", 'qty': 50,'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "A" },
   { 'item': "paper", 'qty': 100, 'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "D" },
   { 'item': "planner", 'qty': 75, 'size': { 'h': 22.85,'w': 30,'uom': "cm" },'status': "D" },
   { 'item': "postcard", 'qty': 45, 'size': { 'h': 10, 'w': 15.25,'uom': "cm" },'status': "A" }
]);

In [14]:
for records in inventory.find({'size': { 'h': 14, 'w': 21,'uom': "cm" } } ):
    print(records)

{'_id': ObjectId('5fd4ce73e91060e1745a2693'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('5fd4d005712e2d3a9ebd399c'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('5fd4d00dbbb7d8493d66cd62'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}